<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= form.label :content, 'Conteúdo' %>
        <%= form.text_area :content, id: :question_content, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :source, 'Fonte' %>
        <%= form.text_field :source, id: :question_source, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :year, 'Ano' %>
        <%= form.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), {},selected: 2018,  id: :question_year, class: 'form-control' %>
      </div>

      <h2>Alternativas</h2>
      <%= form.fields_for :options do |option| %>
        <div>

          <%= option.label :content, 'Conteúdo' %>
          <%= option.text_field :content %>

          <%= option.check_box :answer %>
          <%= option.label :answer, 'Resposta?' %>

        </div>
      <% end %>
      <div class="actions">
        <%= form.submit 'Criar Questão', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>



<script>
  $(document).ready(function() {
      forceOneCheckBox();
  });
</script>
